node_modules
# Keep environment variables out of version control
.env
.env.local
.env.production

*.log
npm-debug.log*


.DS_Store
Thumbs.db


prisma/*.db
prisma/*.db-journal

dist/
build/
/src/generated/prisma
